streamlit
sqlalchemy
psycopg2-binary     # Driver de PostgreSQL para Neon
pandas              # Para manejar los datos en los dashboards
passlib[bcrypt]     # Para hashing seguro de contraseñas
streamlit-option-menu  # Para una mejor navegación (opcional pero recomendado)
matplotlib
openpyxl
html2image
